body {
    background-color: #A5CFE3;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

body > div {
    display: flex;
    justify-content: space-evenly;
}

#players, #prompts {
    background-color: #ebe5d5;
    padding: 15px;
    text-align: center;
    
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}