
#prompt {
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-evenly;
}

#canvas {
    border: .25em solid black;
    flex-basis: 60%;
}

#pal_container {
    flex-basis: 10%;
}

.pal_button {
    border: none;
    border-radius: .75em;
    width: 3em;
    height: 3em;
    margin: .5em;
}