
body {
    background-color: #A5CFE3;
    height: 100vh;
}

#prompt {
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-evenly;
}

#canvas {
    border: .25em solid black;
    flex-basis: 60%;
}

#pal_container {
    flex-basis: 10%;
    text-align: center;
    border: .2em solid black;
    border-radius: 1em;
}

.pal_button {
    border: none;
    border-radius: .75em;
    width: 3em;
    height: 3em;
    margin: .5em;
}